@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain antialiased font-sans selection:bg-primary/30 selection:text-primary;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/50 backdrop-blur-md border border-white/5;
  }
}
